body{
    background:linear-gradient(to right,rgba(85, 45, 122, 0.733),rgba(128, 128, 128, 0.3));
    width: 100%;
    margin: 25px;
    color: oldlace;
}

.form{
    background-color: rgba(0, 0, 82, 0.4);
    margin: auto;
    width: 70%;
    padding: 2%;
}

label{
    text-align: left;
    font-family: monospace;
    font-size: 20px;
}
#name,#age,#email{
    width: 100%;
    height: 30px;
    margin: 15px 0px;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 10em;
    resize: none;
}

#submit{
    width: 100%;
    height: 3em;
    background-color: rgba(6, 114, 15, 0.7);
    border-radius: 5px;
}

select{
    width: 100%;
    height: 3em;
    font-size: 1em;
    font-family: monospace;
}

#title,#description{
    text-align: center;
}

#description{
    letter-spacing: 2px;
}

input{
    margin: 10px 10px;
}